certifi==2021.5.30
charset-normalizer==2.0.4
colorama==0.4.4
comtypes==1.1.10
decorator==4.4.2
idna==3.2
imageio==2.9.0
imageio-ffmpeg==0.4.5
loguru==0.5.3
moviepy==1.0.3
numpy==1.21.2
Pillow==8.3.1
proglog==0.1.9
pydub==0.25.1
pyttsx3==2.90
requests==2.26.0
tqdm==4.62.2
urllib3==1.26.6
gTTS==2.2.3
